body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-list-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

.header-nav-a {
  color: #2e2f42;
  padding: 24px 0;
}

.header-nav-a:hover,
.header-nav-a:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-address-a {
  color: #434455;
}

.setting-section-one {
  background-color: #2e2f42;
  padding: 188px 0;
}

.setting-section-one-title {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.setting-section-one-button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #fff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.setting-section-one-button:hover,
.setting-section-one-button:focus {
  background-color: #404bbf;
}

.setting-section-two {
  padding: 120px 0;
}

.setting-section-two-title {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.setting-section-two-li {
  width: calc((100% - 72px) / 4);
}

.setting-section-two-paragraph {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.setting-section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.setting-section-three-main-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.setting-section-three-title {
  color: #2e2f42;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.setting-section-three-paragraph {
  color: #434455;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.setting-section-three-list {
  display: flex;
  gap: 24px;
}

.setting-section-three-div {
  padding: 32px 0;
}

.setting-section-three-li {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.setting-section-four {
  background-color: #fff;
  padding: 120px 0;
}

.setting-section-four-main-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.setting-section-four-title {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.setting-section-four-paragraph {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.setting-section-four-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.setting-section-four-list-item {
  width: calc((100% - 48px) / 3);
}

.setting-section-four-div {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}

.setting-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.setting-footer-paragraph {
  color: #f4f4fd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.footer-web {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-studio {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-flex {
  display: flex;
}

img {
  display: block;
}

.header-style {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu .header-list-item:first-child .header-nav-a {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu .header-list-item:first-child .header-nav-a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}

.header-menu .header-list-item:nth-child(2) .header-nav-a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address .header-menu .header-address-li:first-child {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-menu {
  display: flex;
  gap: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
